Port {{port}}
{{#each addr~}}
ListenAddress                   {{addr}}
{{/each~}}
Protocol                        2
{{#each keys~}}
HostKey                         {{key}}
{{/each~}}
PermitRootLogin                 no
MaxAuthTries                    6
MaxSessions                     10
PubkeyAuthentication            yes
AuthorizedKeysFile              {{config_dir}}/keys/authorized_keys
PasswordAuthentication          no
ChallengeResponseAuthentication no
KerberosAuthentication          no
GSSAPIAuthentication            no
UsePAM                          no
AllowAgentForwarding            no
AllowTcpForwarding              no
GatewayPorts                    no
X11Forwarding                   no
#PermitTTY                       no
UseLogin                        no
UsePrivilegeSeparation          no
PermitUserEnvironment           no
PidFile                         {{config_dir}}/run/sshd.pid
PermitTunnel                    no
Banner                          none
{{~#if user}}
AllowUsers {{user}}
{{/if~}}
